{% extends 'base.html' %}

{% load static custom_tags %}
{% load i18n %}
{% block content %}



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{% trans 'Blog' %}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                            <span>{% trans 'Blog' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>{% trans 'Categories' %}</h4>
                            <ul>
                                <!-- <li><a href="{% url 'blog' %}">{% trans 'All' %}</a></li> -->
                                <a href="{% url 'all_categorie' %}">{% trans 'All' %}</a>
                                {% for category in categorie %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                                {% empty %}
                                <p>No blogs found in this category.</p>
                                {% endfor %}
                                <!-- <li><a href="#">{% trans 'Beauty (20)' %}</a></li>
                                <li><a href="#">{% trans 'Food (5)' %}</a></li>
                                <li><a href="#">{% trans 'Life Style (9)' %}</a></li>
                                <li><a href="#">{% trans 'Travel (10)' %}</a></li> -->
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>{% trans 'Recent News' %}</h4>
                            <div class="blog__sidebar__recent">
                                {% get_News_all 0 3 as news %}
                                {% for i in news %}
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="{{ i.image.url }}" width="70" height="70" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span> {{ i.created_at|date:"j F Y" }} </span>
                                    </div>
                                </a>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>{% trans 'Search By' %}</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">{% trans 'Apple' %}</a>
                                <a href="#">{% trans 'Beauty' %}</a>
                                <a href="#">{% trans 'Vegetables' %}</a>
                                <a href="#">{% trans 'Fruit' %}</a>
                                <a href="#">{% trans 'Healthy Food' %}</a>
                                <a href="#">{% trans 'Lifestyle' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7" id="blog">
                    <div class="row">
                        {% comment %}
                        {% for i in blog %}
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="{{ i.image.url }}" width="220" height="280" alt="">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i> {{ i.created_at|date:"j F Y" }} </li>
                                        <li><i class="fas fa-comment"></i> 5</li>
                                    </ul>
                                    <h5><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h5>
                                    <p>{{ i.description|truncatechars:90 }} </p>
                                    <a href="{{ i.get_absolute_url }}" class="blog__btn">{% trans 'READ MORE' %} <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endcomment %}
                        <script>
                            let blog = document.getElementById('blog')
                            fetch('/api/blogs/')
                            .then(response => response.json())
                            .then(data => {
                                console.log(data)
                            for(let i in data) {
                                blog.innerHTML += `
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__item">
                                        <div class="blog__item__pic">
                                    <img src="${data[i].image}" width="220" height="280" alt="">
                                        </div>
                                        <div class="blog__item__text">
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> ${data[i].created_at}</li>
                                                <li><i class="fas fa-comment"></i> 5</li>
                                            </ul>
                                            <h5><a href="${data[i].url}">${data[i].title}</a></h5>
                                            <p> ${data[i].description.slice(0, 120)}${data[i].description.length > 120 ? '...' : ''} </p>
                                            <a href="${data[i].url}" class="blog__btn">{% trans 'READ MORE' %} <span class="arrow_right"></span></a>
                                        </div>
                                    </div>
                                </div>
                                `
                            }
                            })
                        </script>
                        
                        <!-- <div class="col-lg-12">
                            <div class="product__pagination blog__pagination">
                                <a href="#">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                            </div>
                        </div> -->
                           
                           <div class="col-lg-12">
                            <div class="product__pagination blog__pagination">
                                {% if is_paginated %}
                                {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}" class=" product__pagination__item">
                                    <i class="fa fa-long-arrow-left"></i>
                                </a>
                                {% endif %}
                                {% for page in page_obj.paginator.page_range %}
                                {% if page == page_obj.number %}
                                <span class="btn btn-secondary product__pagination__item product__pagination__item--active">{{ page }}</span>
                                {% else %}
                                <a href="?page={{ page }}" class=" product__pagination__item">{{ page }}</a>
                                {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}" class=" product__pagination__item">
                                    <i class="fa fa-long-arrow-right"></i>
                                </a>
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Blog Section End -->

 {% endblock %}
