{% extends 'base.html' %}
{% load static custom_tags %}
{% load i18n %}
{% block content %}

  
    <!-- Blog Details Hero Begin -->
    <section class="blog-details-hero set-bg" data-setbg="{% static 'img/blog/details/details-hero.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>{{ post.title }}</h2>
                        <ul>
                            <li>By {{ post.author.first_name }} {{ post.author.last_name }}</li>
                            <li>{{ post.created_at|date:"j F Y" }}</li>
                            <!-- <li>8 {% trans 'Comments' %}</li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                    <div class="blog__sidebar">
                        <!-- <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div> -->
                        <div class="blog__sidebar__item">
                            <h4>{% trans 'Categories' %}</h4>
                            
                            <ul>
                                <a href="{% url 'all_categorie' %}">{% trans 'All' %}</a>
                                {% for i in category %}
                                <li><a href="{{ i.get_absolute_url }}">{{ i.name }}</a></li>
                                {% empty %}
                                <p></p>
                                {% endfor %}
                            </ul>
                        </div>
                        {% comment %}
                        <div class="blog__sidebar__item">
                            <h4>{% trans 'Recent News' %}</h4>
                            <div class="blog__sidebar__recent">
                                {% get_News_all 0 3 as news %}
                                {% for i in news %}
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="{{ i.image.url }}" width="70" height="70" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span> {{ i.created_at|date:"j F Y" }} </span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        {% endcomment %}
                        <!-- <div class="blog__sidebar__item">
                            <h4>{% trans 'Search By' %}</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">{% trans 'Apple' %}</a>
                                <a href="#">{% trans 'Beauty' %}</a>
                                <a href="#">{% trans 'Vegetables' %}</a>
                                <a href="#">{% trans 'Fruit' %}</a>
                                <a href="#">{% trans 'Healthy Food' %}</a>
                                <a href="#">{% trans 'Lifestyle' %}</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">
                        <img src="{{ post.image.url }}" alt="">
                        <p>{{ post.description }}</p>
                        <!-- <h3>The corner window forms a place within a place that is a resting point within the large
                            space.</h3>
                        <p>The study area is located at the back with a view of the vast nature. Together with the other
                            buildings, a congruent story has been managed in which the whole has a reinforcing effect on
                            the components. The use of materials seeks connection to the main house, the adjacent
                            stables</p> -->
                    </div>
                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="{{ post.author_image.url }}" alt="author_image">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>{{ post.author.first_name }} {{ post.author.last_name}}</h6>
                                        <!-- <span>Admin</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>{% trans 'Categories' %}:</span> {{ post.category }}</li>
                                        <!-- <li><span>{% trans 'Tags' %}:</span> {% trans 'All' %}, {% trans 'Trending' %}, {% trans 'Cooking' %}, {% trans 'Healthy Food' %}, {% trans 'Life Style' %}</li> -->
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-google-plus"></i></a>
                                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>{% trans 'Post You May Like' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% get_Blog_all 0 3 as blog %}
                {% for i in blog %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{ i.image.url }}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> {{ i.created_at|date:"j F Y" }}</li>
                                <!-- <li><i class="fa fa-comment-o"></i> 5</li> -->
                            </ul>
                            <h5><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h5>
                            <p>{{ i.description|truncatechars:90 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->

  {% endblock %}