{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Wishlist</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'index' %}">Home</a>
                            <span>Wishlist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <!-- {% if message %}
                        <h4 style="text-align: center;"><b>{{ message }}</b></h4>
                        {% endif %} -->
                        <br>
                        <br>
                        <br>
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Products</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <!-- <th>Total</th> -->
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cart_item in cart_items %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <a href="{{ cart_item.product.get_absolute_url }}">
                                            <img src="{{ cart_item.product.image.url }}" width="101" height="100" alt="">
                                            <h5>{{ cart_item.product.title }}</h5>
                                        </a>
                                    </td>                                    
                                    <td class="shoping__cart__price">
                                        {% if cart_item.product.discounted_price == cart_item.product.price %}
                                        $ {{ cart_item.product.price }}
                                        {% else %}
                                        <div class="product__discount__item__text">$ {{ cart_item.product.discounted_price }}<span><s>$ {{ cart_item.product.price }}</s></span></div>
                                        {% endif %}
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <!-- <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="text" value="{{ cart_item.quantity }}">
                                            </div>
                                        </div> -->


                                        <!-- <p>Current value: <span class="quantity" id="value">{{ cart_item.quantity }}</span></p>
                                        <a href="{% url 'add_quantity' cart_item.product.id %}" class="quantity" onclick="increment()">+</a>
                                        <a href="{% url 'remove_quantity' cart_item.product.id %}" class="quantity"  onclick="decrement()">-</a>
                                        <script>
                                        let valueElement = document.getElementById("value");
                                        let value = 0;
                                        function increment() {
                                            value++;
                                            valueElement.textContent = value;
                                        }
                                        function decrement() {
                                            value--;
                                            valueElement.textContent = value;
                                        }
                                        </script> -->


                                        <!-- <form>
                                            <div class="quantity-container form-container">
                                                <a href="{% url 'remove_quantity' cart_item.product.id %}" class="quantity-button" id="decrease" onclick="decreaseValue()">-</a>
                                                    <input type="number" id="number" class="quantity-input" value="{{ cart_item.quantity }}" readonly>
                                                <a href="{% url 'add_quantity' cart_item.product.id %}" class="quantity-button" id="increase" onclick="increaseValue()">+</a>
                                            </div>
                                        </form> -->
                                          
                                        <script>
                                        let valueElement = document.getElementById("number");
                                        let value = valueElement.value;
                                        
                                        function increaseValue() {
                                            value++;
                                            valueElement.value = value;
                                        }
                                        
                                        function decreaseValue() {
                                            if (value > 0) {
                                            value--;
                                            valueElement.value = value;
                                            }
                                        }
                                        </script>
                                        
                                        <style>
                                        .quantity-container {
                                            display: flex;
                                            align-items: center;
                                            justify-content: space-between;
                                            width: 120px;
                                            margin: 10px;
                                            padding: 5px;
                                            border: 1px solid #ccc;
                                            border-radius: 3px;
                                        }
                                        
                                        .quantity-input {
                                            width: 50px;
                                            text-align: center;
                                            border: none;
                                            background-color: #f0f0f0;
                                            border-radius: 3px;
                                            margin: 0 10px;
                                        }
                                        
                                        .quantity-button {
                                            width: 25px;
                                            height: 25px;
                                            border: none;
                                            border-radius: 3px;
                                            background-color: #515967;
                                            color: #fff;
                                            font-size: 16px;
                                            cursor: pointer;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                        
                                        .quantity-button:hover {
                                            background-color: #515967;
                                        }
                                        
                                        #decrease {
                                            border-top-left-radius: 3px;
                                            border-bottom-left-radius: 3px;
                                        }
                                        
                                        #increase {
                                            border-top-right-radius: 3px;
                                            border-bottom-right-radius: 3px;
                                        }

                                        .form-container {
                                        position: relative;
                                        left: 45px; /* Adjust this value to move the form to the right */
                                        }
                                        </style>

                                    </td>
                                    <!-- <td class="shoping__cart__total">
                                        $ {{ cart_item.sub_total }}
                                    </td> -->
                                    <td class="shoping__cart__item__close">
                                        <a href="">
                                            <span class="icon_close"></span>
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="{% url 'shop' %}" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                        <a href="" class="primary-btn cart-btn cart-btn-right"><span class="fas fa-trash-alt" style="color: #515967;"></i></span> REMOVE ALL </a>

                    </div>
                </div>
                <!-- <div class="col-lg-6">
                    <div class="shoping__continue">
                        <div class="shoping__discount">
                            <h5>Discount Codes</h5>
                            <form action="#">
                                <input type="text" placeholder="Enter your coupon code">
                                <button type="submit" class="site-btn">APPLY COUPON</button>
                            </form>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-6">
                    <div class="shoping__checkout">
                        <h5>Cart Total</h5>
                        <ul>
                            <li>Subtotal <span>$ {{total}}</span></li>
                            <li>Total <span>$ {{total}}</span></li>
                        </ul>
                        <a href="{% url 'checkout' %}" class="primary-btn">PROCEED TO CHECKOUT</a>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- Shoping Cart Section End -->

{% endblock %}