{% extends 'base.html' %}
{% load static custom-tags %}
{% load i18n %}
{% block content %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center ">
                    <div class="breadcrumb__text">
                        <h2>{% trans 'Contact Us' %}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'index' %}">{% trans 'Home' %}</a>
                            <span>{% trans 'Contact Us' %}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4><a href="https://wa.me/+994516221288">{% trans 'Phone' %}</a></h4>
                        <p>{{ settings.phone }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>{% trans 'Address' %}</h4>
                        <p>{{ settings.address }}</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>{% trans 'Open time' %}</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4><a href="mailto:mmmdlinurlan40@gmail.com?subject=Mail from our Website">Email</a></h4>
                        <p>{{ settings.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe width="520" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" id="gmap_canvas" src="https://maps.google.com/maps?width=520&amp;height=400&amp;hl=en&amp;q=Mehdi%20Huseynzadeh%20Khirdalan+(Baku)&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href='https://maps-generator.com/'>Maps Generator</a>

        <div class="map-inside">
            <i class="icon_pin"></i>
            <div class="inside-widget">
                <h4>Khirdalan</h4>
                <ul>
                    <li>Phone: +994 516221288</li>
                    <li>Add: Mehdi Huseynzadeh, 3</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Map End -->

    <!-- Contact Form Begin -->
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>{% trans 'Leave Message' %}</h2>
                    </div>
                </div>
            </div>
            <form method="post">
                <div class="row">
                    {% csrf_token %}
                    {% for field in contact_form %}
                    {{ field }}
                    {{ field.errors}}
                    {% endfor %}
                    <!-- <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Your name">
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <input type="text" placeholder="Your Email">
                    </div>
                    <div class="col-lg-12 text-center">
                        <textarea placeholder="Your message"></textarea>
                    </div> -->
                    <button type="submit" class="site-btn">SEND MESSAGE</button>
                </div>
            </form>
        </div>
    </div>
    <!-- Contact Form End -->
{% endblock %}