{% extends 'base.html' %}
{% load static custom-tags %}
{% load static custom_tags %}
{% load static customtags %}
{% load i18n %}
{% block content %}


<!-- Card Section Begin -->

{% comment %}
{% get_advertisement_all as advars %}
{% for i in advars %}
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ i.image.url }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ i.title }}</h5>
      <p class="card-text">{{ i.description|truncatechars:90 }}</p>
      <a href="https://turbo.az/" class="btn btn-primary">Go somewhere</a>
      <br />
      <span>
        {{ i.created_at|date:'F'|lower }}
      </span>
    </div>
  </div>
{% endfor %}
{% endcomment %}

<!-- Card Section End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>{% trans 'All departments' %}</span>
                    </div>
                    <ul>
                        <li><a href="{% url 'all_categories' %}">{% trans 'All' %}</a></li>
                        <!-- <li><a href="#">{% trans 'Fresh Meat' %}</a></li>
                        <li><a href="#">{% trans 'Vegetables' %}</a></li>
                        <li><a href="#">{% trans 'Fruit & Nut Gifts' %}</a></li>
                        <li><a href="#">{% trans 'Fresh Berries' %}</a></li>
                        <li><a href="#">{% trans 'Ocean Foods' %}</a></li>
                        <li><a href="#">{% trans 'Butter & Eggs' %}</a></li>
                        <li><a href="#">{% trans 'Fastfood' %}</a></li>
                        <li><a href="#">{% trans 'Fresh Onion' %}</a></li>
                        <li><a href="#">{% trans 'Papayaya & Crisps' %}</a></li>
                        <li><a href="#">{% trans 'Oatmeal' %}</a></li>
                        <li><a href="#">{% trans 'Fresh Bananas' %}</a></li> -->
                        {% get_Category_all as cat %}
                        {% for category in cat %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                        {% empty %}
                        <p>No products found in this category.</p>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                {% trans 'All Categories' %}
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do you need?">
                            <button type="submit" class="site-btn">{% trans 'SEARCH' %}</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <a href="tel:+994516221288">
                            <i class="fa fa-phone"></i>
                            </a>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>{{ settings.phone }}</h5>
                            <span>{% trans 'support 24/7 time' %}</span>
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="{% static 'img/hero/banner.jpg' %}">
                    <div class="hero__text">
                        <span>{% trans 'FRUIT FRESH' %}</span>
                        <h2>{% trans 'Vegetable' %} <br />{% trans '100% Organic' %}</h2>
                        <p>{% trans 'Free Pickup and Delivery Available' %}</p>
                        <a href="{% url 'shop' %}" class="primary-btn">{% trans 'SHOP NOW' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->


    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/cat-1.jpg' %}">
                            <h5><a href="#">Fresh Fruit</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/cat-2.jpg' %}">
                            <h5><a href="#">{% trans 'Dried Fruit' %}</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/cat-3.jpg' %}">
                            <h5><a href="#">{% trans 'Vegetables' %}</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/cat-4.jpg' %}">
                            <h5><a href="#">{% trans 'drink fruits' %}</a></h5>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{% static 'img/categories/cat-5.jpg' %}">
                            <h5><a href="#">{% trans 'drink fruits' %}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>{% trans 'Featured Product' %}</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">{% trans 'All' %}</li>
                            <li data-filter=".oranges">{% trans 'Oranges' %}</li>
                            <li data-filter=".fresh-meat">{% trans 'Fresh Meat' %}</li>
                            <li data-filter=".vegetables">{% trans 'Vegetables' %}</li>
                            <li data-filter=".fastfood">{% trans 'Fastfood' %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            
                {% get_FeaturedProduct_all 0 8 as fproduct %}
                {% for i in fproduct %}
            <div class="row featured__filter">
                <div class="col-lg-6 col-sm-12 mix oranges fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{ i.image.url }}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{ i.title }}</a></h6>
                            <h5>{{ i.price }}</h5>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
        </div>
    </section>
    
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <!-- <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-1.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/banner-2.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>{% trans 'Latest Products' %}</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% get_Product_all 0 3 as product %}
                                {% for i in product %}
                                <a href="{{ i.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span>{{ i.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                                

                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% get_Product_all 3 6 as product %}
                                {% for i in product %}
                                <a href="{{ i.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span>{{ i.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                            
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>{% trans 'Top Rated Products' %}</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% get_Product_all 0 3 as product %}
                                {% for i in product %}
                                <a href="{{ i.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span>{{ i.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                                

                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% get_Product_all 3 6 as product %}
                                {% for i in product %}
                                <a href="{{ i.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span>{{ i.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            

                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>{% trans 'Review Products' %}</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% get_Product_all 0 3 as product %}
                                {% for i in product %}
                                <a href="{{ i.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span>{{ i.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                                

                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% get_Product_all 3 6 as product %}
                                {% for i in product %}
                                <a href="{{ i.get_absolute_url }}" class="latest-product__item">
                                    <div class="latest-product__item__pic">
                                        <img src="{{ i.image.url }}" alt="">
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{ i.title }}</h6>
                                        <span>{{ i.price }}</span>
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>{% trans 'From The Blog' %}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% get_Blog_all 0 3 as blog %}
                {% for i in blog %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{ i.image.url }}" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> {{ i.created_at|date:"j F Y" }}</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h5>
                            <p>{{ i.description|truncatechars:90 }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Blog Section End -->


{% endblock %}