{% load static custom-tags %}
{% load i18n %}
<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="{% url 'index' %}"><img src="{{ settings.logo.url }}" alt=""></a>
                    </div>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> <span style="padding-left: 10px;">{% trans settings.address %}</span></li>
                        <li><i class="fas fa-phone"></i> <span style="padding-left: 10px;">{{ settings.phone }}</span></li>
                        <li><i class="fas fa-envelope"></i> <span style="padding-left: 10px;">{{ settings.email }}</span></li>
                      </ul>                      
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>{% trans 'About Ogani' %}</h6>
                    <ul>
                        <li><a href="{% url 'aboutus' %}">{% trans 'About Us' %}</a></li>
                        <!-- <li><a href="#">{% trans 'About Our Shop' %}</a></li> -->
                        <li><a href="#">{% trans 'Secure Shopping' %}</a></li>
                        <li><a href="#">{% trans 'Delivery infomation' %}</a></li>
                        <li><a href="#">{% trans 'Privacy Policy' %}</a></li>
                        <li><a href="#">{% trans 'Our Sitemap' %}</a></li>
                    </ul>
                    <ul>
                        <!-- <li><a href="#">{% trans 'Who We Are' %}</a></li> -->
                        <li><a href="#">{% trans 'Our Services' %}</a></li>
                        <li><a href="#">{% trans 'Projects' %}</a></li>
                        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
                        <li><a href="#">{% trans 'Innovation' %}</a></li>
                        <li><a href="#">{% trans 'Testimonials' %}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>{% trans 'Join Our Newsletter Now' %}</h6> 
                    <p>{% trans 'Get E-mail updates about our latest shop and special offers.' %}</p>
                    <!-- Bu aşağıdakı subscriber form yazılışıdır! -->
                    <!-- <form method="post" action="{% url 'subscribe' %}">
                        {% csrf_token %}
                        {{ subscribe_form.non_field_errors }}
                        {% for field in subscribe_form %}
                        {{ field }}
                        {{ field.errors }}
                        {% endfor %}
                        <button type="submit" class="site-btn">{% trans 'Subscribe' %}</button> 
                    </form> -->

                    <!-- ******************************************************************* -->
                    <!-- Bu isə API ilə yazılışıdır -->
                    <form method="post">
                        {% csrf_token %}
                        <input type="email" id="emailinput" placeholder="Enter your mail">
                        <button type="submit" id="emailbutton" class="site-btn">Subscribe</button>
                    </form> 

<script>
    SubsciberLogic = {
        emailManager(email) {
            fetch('/api/subscriber/', {
                method: 'POST',
                credentials: 'include',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'email': email,
                })
            })
                .then(response => response.json())
                .then(data => {
                    subscribeModalLongTitle = document.getElementById('subscribeModalLongTitle');
                    emailinput.value = '';
                });
        }
    }

    emailbutton = document.getElementById('emailbutton')
    emailinput = document.getElementById('emailinput')

    emailbutton.onclick = function (e) {
        e.preventDefault();
        email = emailinput.value;
        SubsciberLogic.emailManager(email);
    }
</script>

                    <div class="footer__widget__social">
                        <a href="{{ settings.facebook }}"><i class="fab fa-facebook"></i></a>
                        <a href="{{ settings.instagram }}"><i class="fab fa-instagram"></i></a>
                        <a href="{{ settings.twitter }}"><i class="fab fa-twitter"></i></a>
                        <a href="{{ settings.pinterest }}"><i class="fab fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> {% trans 'All rights reserved' %} | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                    <div class="footer__copyright__payment"><img src="{{ settings.paymentitem.url }}" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
